.container-cards{
    margin:2%;
}

.quiz-card{
    display:flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid black;
    margin:auto;
}

.quiz-card input{
    border: 1px solid gray;
    padding:2%;

}
