* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.container-homePage{
    margin:5%;
}
.container-homePage ol{
    margin:2%;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50%;
    width:30%;
    margin:auto;
    padding:5%;
    border: 1px solid black;
}